@import url('https://fonts.googleapis.com/css?family=Satisfy');
/*=======UNIVERSALS=======*/

body, html {
  margin: 0;
  padding: 0;
}


/*=======HEADER=======*/
header.container-fluid {
  display: flex;
  justify-content: space-between;
}


#logo-img {
  width: 95px;
  height: 85px;
  position: relative;
  top: 12px;
  left: 20px;
}

#logo-img~span {
  display: inline-block;
  font-family: 'Satisfy', cursive;
  color: #F2748A;
  font-size: 40px;
  text-transform: capitalize;
  padding-top: 25px;
  position: relative;
  top: 12px;
  left: 20px;
}

.nav-pills {
  float: right;
  padding-top: 50px;
}

.nav>li>a {
  font-size: 22px;
  color: #64B0E7;
}

/*=======JUMBOTRON=======*/

.jumbotron {
  background-image: url('../img/hero.jpg');
  background-size: cover;
  background-position: center;
  height: 450px ;
}

.jumbotron>p {
  text-transform: uppercase;
  color: #fff;
  font-size: 28px;
  margin-top: 20px;
}

/*=======PRODUCTS SECTION=======*/
.btn-default {
  background-color: #5BC0DE;
  color: #FFF;
  border: none;
}

.thumbnail {
  background-color: #EDF1F4;
  padding: 16px;
}

.caption>p {
  font-size: 15px;
}
